body {
	margin: 10px;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
	background: #e6f7d4;
}
.proxy {
	border: 1px dotted black;
}

h2 {
	padding: 5px;
	margin: 5px;
	border-bottom: 2px solid #bbb;
	line-height: 7px;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 0px;
	color: #333;
}
.playground {
	background: #fff;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	padding: 10px;
}
.example {
	width: 200px;
	height: 100px;
	background: #fff;
	position: relative;
}

table.zebra4 > tbody tr:nth-child(8n+5) ,
table.zebra4 > tbody tr:nth-child(8n+6) ,
table.zebra4 > tbody tr:nth-child(8n+7) ,
table.zebra4 > tbody tr:nth-child(8n+8) {
        background-color: #c7c7e2;
}  