@media only screen and (max-width: 500px) {
	.row {
		flex-direction: column;
	}
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

label,
.label {
	color: #515179;
	font-size: 17px;
	font-weight: 500;
}

input[type="text"],
input[type="button"],
input[type="number"],
input[type="time"],
input[type="submit"],
input[type="reset"],
select {
	font-size: 18px;
	height: 34px;
	padding-left: 5px;
	padding-right: 5px;
	color: #666;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	outline:  none;
}

input[type="submit"],
input[type="button"] {
	background-color: #515179;
	color: #fff;
}

input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: #616191;
	cursor: pointer;
}

input:invalid {
	border: solid 1px red;
}

#registration-page {
	display: flex;
	background: #fff;
	justify-content: center;
	align-items: center;
}

.signup-form {
	flex: 1;
	max-width: 1024px;
	border: 1px solid #999;
	margin: 10px auto;
}

.form-header {
	padding: 2px 0;
	border-bottom: 1px solid #ccc;
}

.form-header h3 {
	font-size: 16px;
	text-align: center;
	color: #fff;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.input-group {
	flex: 1;
	display: flex;
	flex-direction:column;
	margin: 2px;
}

.form-body {
	background: #e6e6f2;
	padding: 5px 10px;
}

.form-footer {
	display: flex;
	justify-content: flex-end;
	column-gap: 1em;
	margin: 10px 5px;
}

.btn {
	border: none;
	border-radius: 5px;
	font-size: 18px;
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	background-color: #515179;
	outline: none;
}

.radio-group {
	display: flex;
	gap: 5px;
	height: 34px;
	align-items: center;
	padding-left: 10px;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	background-color: #fff;
	/* 
	padding-right: 10px;
	color: #666;
	outline: none; */
}

.radio-group div {
	flex: 1;
	padding-top: 5px;
}

.radio-group label {
	color: #515179;
	cursor: pointer;
}

.radio-group input {
	vertical-align: baseline;
	height: auto;
}

.time-picker {
	position: absolute;
	display: inline-block;
	padding: 0px;
	background: #333;
	border-radius: 6px;
	border: solid 5px #333;
	color: #fff;
}

.time-picker__select {
	appearance: none;
	outline: none;
	text-align: center;
	border: none;
	border-radius: 6px;
	background: #333;
	cursor: pointer;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	color: #fff;
	font-weight: bolder;
	font-size: 18px;
	min-width: 50px;
}

.div_plus {
	/*visibility: visible;*/
	display: none;
}

.t_display {
	min-width: 800px;
	margin: 5px auto;
}

.t_display thead {
	background-color: #c7c7e2;
}

.t_display tbody tr:hover {
	border: solid 1px #aaa;
}

.t_display tbody tr:nth-child(odd) {
	background-color: #e6e6f2;
}

.t_display tbody tr:nth-child(even) {
	background-color: #d8d2f2;
}

.t_display tbody td {
	text-align: center;
}

.a-btn-Y {
	background-color: #8080c0;
}

.a-btn-N {
	background-color: #ccc;
}

.a-btn {
	display: block;
	margin: 3px;
	border: solid 1px #eee;
	border-radius: 6px;
	color: #fff;
	font-weight: bolder;
	text-decoration: none;
}

.a-btn:hover {
	background-color: #c1c1ee;
	text-decoration: none;
}

.message {
	margin: 10px;
	padding: 10px;
	text-align: center;
	background-color: #515179;
	color: #d6d6d6;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-size: large;
	border-radius: 5px;
}

.message:hover {
	opacity: 0;
	transition: transform 0.5s, opacity 0.5s;
}

.tprog {
	margin: 2px auto;
	border: #9591a6 solid 2px;
	width: 100%;
}

.tprog thead tr {
	background-color: #c1c1ee !important;
	color: #333;
}