BODY {
	font-family: "藥胎";
	font-size: 12pt;
	text-decoration: none;
	line-height: 150%;
	background-color: #fbfdff;
}
TD {
	font-family: "藥胎";
	font-size: 12pt;
}
Input {
	font-size: 12pt;
	height: 24px;
}
Button {
	font-size: 12pt;
	height: 24px;
}
Select {
	font-size: 12pt;
	height: 24px;
}
A {
	font-size: 12pt;
	text-decoration: none;
	color: #000000;
}
A:hover {
	font-size: 12pt;
	color: #428eff;
	text-decoration: underline;
}
.title {
	background: url(images/topbar_bg.gif);
}
.border {
	border: 1px solId #215dc6;
}
.tdbg {
	background: #d6dff7;
	line-height: 120%;
}

.topbg {
	/*background:url(../images/admin/topbg.gif);
	*/
	background-color: #215dc6;
	color: #ffffff;
}
.bgcolor {
	background-color: #215dc6;
}
.banner {
	background-color: #003366;
}
.sidebar {
	background-color: #cccccc;
}
title .content {
	background-color: #ffffff;
}
.subtitle {
	font-size: 28px;
	font-weight: bold;
	font-family: helvetica, arial;
	color: #ffffff;
	padding: 8px;
}
.title2 {
	font-size: 14px;
	font-weight: bold;
	font-family: helvetica, arial;
	color: #cccccc;
	background-color: #003366;
	padding: 6px;
}
.title3 {
	font-size: 14px;
	font-family: helvetica, arial;
	color: #003366;
	padding: 6px;
}
.savebutton {
	font-size: 14px;
	font-family: helvetica, arial;
	color: #003366;
	background-color: #cccccc;
	cursor: pointer;
	cursor: pointer;
	border: 0px;
	padding: 0px;
	text-align: left;
}
.title4 {
	font-size: 16px;
	font-weight: bold;
	font-family: helvetica, arial;
	color: #003366;
	padding: 6px;
}
.title5 {
	font-size: 16px;
	font-family: helvetica, arial;
	color: #003366;
	padding: 6px;
}
.content {
	font-size: 12px;
	color: #003366;
	font-family: helvetica, arial;
}
.edit {
	font-size: 12px;
	border: 1px solid #003366;
	width: 140px;
	font-family: helvetica, arial;
}
.edit2 {
	font-size: 12px;
	border: 1px solid #003366;
	width: 300px;
	font-family: helvetica, arial;
}
.edit3 {
	font-size: 12px;
	border: 1px solid #003366;
	width: 90px;
	font-family: helvetica, arial;
}
.edit4 {
	font-size: 12px;
	border: 1px solid #003366;
	width: 50px;
	font-family: helvetica, arial;
}
.wedit {
	font-size: 12px;
	border: 1px solid #003366;
	width: 310px;
	font-family: helvetica, arial;
}
.valuerange {
	font-size: 11px;
	border: 1px solid #003366;
	width: 65px;
	font-family: helvetica, arial;
}
.valuerange2 {
	font-size: 11px;
	border: 1px solid #003366;
	width: 65px;
	font-family: helvetica, arial;
}
.select {
	font-size: 12px;
	border: 1px solid #003366;
	width: 140px;
	font-family: helvetica, arial;
}
.select2 {
	font-size: 12px;
	border: 1px solid #003366;
	width: 80px;
	font-family: helvetica, arial;
	left-padding: 5px;
}
.button {
	font-size: 12px;
	border: 1px solid #003366;
	font-family: helvetica, arial;
	cursor: pointer;
	cursor: pointer;
}
.text {
	font-size: 12px;
	color: #003366;
	font-family: helvetica, arial;
}
.title1 {
	font-size: 12px;
	font-weight: bold;
	color: #003366;
	font-family: helvetica, arial;
	text-align: center;
}
.stitle {
	font-size: 12px;
	font-style: italic;
	color: #003366;
	font-family: helvetica, arial;
}
.warning {
	font-size: 12px;
	color: #883333;
	font-family: helvetica, arial;
}
.tab {
	font-size: 12px;
	border: 1px solid #003366;
	font-family: helvetica, arial;
	padding: 5px;
}
a {
	text-decoration: none;
	font-size: 12pt;
	color: #003366;
	font-family: helvetica, arial;
}
a:link {
	text-decoration: none;
	color: #003366;
	font-size: 12pt;
}
a:hover {
	text-decoration: underline;
	color: #003366;
	font-size: 12pt;
}
a:active {
	text-decoration: none;
	color: #003366;
	font-size: 12pt;
}

.tables {
	overflow: auto;
	height: 400px;
	width: 98%;
}
.spanpage {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

.tdbg2 a.link {
	background: #d6d000;
	line-height: 120%;
}

.even {
	background: #d6dff7;
	line-height: 120%;
}
.marked {
	background: #ffcc99;
}
.even2 {
	background: #ccff99;
	line-height: 120%;
}

.even marked {
	background: #ffcc99;
	line-height: 120%;
}
/*
TABLE TD.marked {
	BACKGROUND: #ffcc99; 
}


/*
.hover {
	BACKGROUND: #bbffff; COLOR: #000000
}
*/
.inputtext {
	border: none;
	background: #000000;
	color: #883333;
	width: 38px;
}
.submit {
	width: 80px;
	height: 40px;
}
.textarea {
	font-size: 18px;
}

#macstyle .select_box {
	width: 91px;
	height: 24px;
}
#macstyle div.tag_select {
	display: block;
	color: #000;
	width: 71px;
	height: 24px;
	background: transparent url("../images/mac-select.gif") no-repeat 0 -24px;
	padding: 0 10px;
	line-height: 24px;
}
#macstyle div.tag_select_hover {
	display: block;
	color: #000;
	width: 71px;
	height: 24px;
	background: transparent url("../images/mac-select.gif") no-repeat 0 0;
	padding: 0 10px;
	line-height: 24px;
}
#macstyle div.tag_select_open {
	display: block;
	color: #000;
	width: 71px;
	height: 24px;
	background: transparent url("../images/mac-select.gif") no-repeat 0 -48px;
	padding: 0 10px;
	line-height: 24px;
}
#macstyle ul.tag_options {
	position: absolute;
	margin: -4px 0 0;
	list-style: none;
	background: transparent url("../images/mac-select.gif") no-repeat left
		bottom;
	width: 100px;
	padding: 0 0 5px;
	margin: 0;
	width: 71px;
}
#macstyle ul.tag_options li {
	background: transparent url("../images/mac-select.gif") repeat-y -91px 0;
	display: block;
	width: 61px;
	padding: 0 0 0 10px;
	height: 24px;
	text-decoration: none;
	line-height: 24px;
	color: #000;
}
#macstyle ul.tag_options li.open_hover {
	background: transparent url("../images/mac-select.gif") no-repeat -162px
		0;
	color: #000;
}
#macstyle ul.tag_options li.open_selected {
	background: transparent url("../images/mac-select.gif") no-repeat -162px -24px;
	color: #fff;
}

table.zebra4 > tbody tr:nth-child(8n+5) ,
table.zebra4 > tbody tr:nth-child(8n+6) ,
table.zebra4 > tbody tr:nth-child(8n+7) ,
table.zebra4 > tbody tr:nth-child(8n+8) {
        background-color: #b1b3d5;
}  
