.table_sim {
	background-color: #CCC;
	margin-top: 10px;
	width: 100%
}

.table_sim th {
	background-color: #FFF;
	border-bottom: 1px #CCC solid;
	color: #069;
	font-size: 14px;
	padding: 5px;
	text-align: center
}

.tr_sim {
	background-color: #FFF
}

.table_sim td {
	font-size: 14px;
	padding: 4px;
	text-align: center
}

.table_sim a {
	color: #03C;
	text-decoration: none
}

.table_sim a:hover {
	color: #690
}

.sim_op {
	background-color: #06C;
	border-bottom: 2px #fff solid;
	border-right: 2px #fff solid;
	display: none;
	padding: 5px;
	position: absolute;
	z-index: 100;
	width: 240px;
	border-radius: 5px;
}

.sim_op ul {
	border: 1px #999 solid;
	cursor: default;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 160px
}

.sim_op ul li {
	color: #000;
	padding: 4px
}

.sim_op ul li a {
	color: #000;
	font-size: 12px;
	padding: 5px
}

.table_op {
	text-align: left;
	width: 240px;
}

.table_op td {
	border-bottom: 1px #999 dashed;
	font-size: 12px;
	padding: 3px;
	text-align: left;
	white-space: nowrap;

}

.table_op td a {
	color: #fff
}

.img_more {
	border-width: 0;
	height: 30px;
	margin: 0;
	padding: 0
}

#back-to-top {
	bottom: 20px;
	position: fixed;
	right: 50px
}

#back-to-top a {
	color: #d1d1d1;
	display: block;
	text-align: center;
	text-decoration: none;
	width: 50px
}

p#back-to-top a:hover {
	color: #333;
	cursor: pointer
}

p#back-to-top a span {
	background: url(../images/top.png) no-repeat center center;
	display: block;
	height: 50px;
	margin-bottom: 5px;
	width: 50px
}

.table_sim_alter {
	width: 50%
}

.table_sim_alter th {
	background-color: #FFF;
	border-bottom: 2px #069 solid;
	color: #069;
	font-size: 16px;
	padding: 8px 8px 8px 0;
	text-align: left
}

.table_sim_alter td {
	color: #000;
	font-size: 13px;
	padding: 3px;
	text-align: left
}

.table_sim_alter_button {
	background-color: #03C;
	border: 1px #999 solid;
	color: #CCC;
	cursor: pointer;
	height: 30px;
	padding: 5px;
	width: 50px
}

#ul_date {
	list-style: none;
	margin: 0
}

#ul_date li {
	float: left;
	list-style: none;
	margin: 0 0 0 10px
}

.table_selectdate {
	font-size: 12px
}

.table_setdate input {
	height: 18px;
	width: 170px
}

.table_selectdate td {
	padding: 1px
}

.setdate_button {
	background-color: #03C;
	border: 1px #999 solid;
	color: #CCC;
	cursor: pointer;
	height: 25px;
	padding: 5px;
	width: 50px
}