body {
	background-color: #fbfdff;
	font-size: 12pt;
	line-height: 150%;
	text-decoration: none;
}

td {
	font-size: 11pt;
}

input {
	font-size: 11pt;
	height: 24px;
}

button {
	font-size: 11pt;
	height: 24px;
}

select {
	font-size: 11pt;
	height: 24px;
}

a {
	color: #000;
	color: #036;
	font-family: helvetica, arial;
	font-size: 11pt;
	font-size: 12pt;
	text-decoration: none;
}

a:hover {
	color: #428eff;
	color: #036;
	font-size: 11pt;
	text-decoration: underline;
}

.title {
	background: #c7c7e2
}

.border {
	border: 1px solid #215dc6
}

.tdbg {
	background: #e6e6f2;
	line-height: 120%
}

.topbg {
	background-color: #8080c0;
	color: #fff
}

.bgcolor {
	background-color: #215dc6
}

.banner {
	background-color: #036
}

.sidebar {
	background-color: #ccc
}

title .content {
	background-color: #fff
}

.subtitle {
	color: #fff;
	font-family: helvetica, arial;
	font-size: 28px;
	font-weight: 700;
	padding: 8px
}

.title2 {
	background-color: #036;
	color: #ccc;
	font-family: helvetica, arial;
	font-size: 14px;
	font-weight: 700;
	padding: 6px
}

.title3 {
	color: #036;
	font-family: helvetica, arial;
	font-size: 14px;
	padding: 6px
}

.savebutton {
	background-color: #ccc;
	border: 0;
	color: #036;
	cursor: pointer;
	cursor: pointer;
	font-family: helvetica, arial;
	font-size: 14px;
	padding: 0;
	text-align: left
}

.title4 {
	color: #036;
	font-family: helvetica, arial;
	font-size: 16px;
	font-weight: 700;
	padding: 6px
}

.title5 {
	color: #036;
	font-family: helvetica, arial;
	font-size: 16px;
	padding: 6px
}

.content {
	color: #036;
	font-family: helvetica, arial;
	font-size: 12px
}

.edit {
	border: 1px solid #036;
	font-family: helvetica, arial;
	font-size: 12px;
	width: 140px
}

.edit2 {
	border: 1px solid #036;
	font-family: helvetica, arial;
	font-size: 12px;
	width: 300px
}

.edit3 {
	border: 1px solid #036;
	font-family: helvetica, arial;
	font-size: 12px;
	width: 90px
}

.edit4 {
	border: 1px solid #036;
	font-family: helvetica, arial;
	font-size: 12px;
	width: 50px
}

.wedit {
	border: 1px solid #036;
	font-family: helvetica, arial;
	font-size: 12px;
	width: 310px
}

.valuerange {
	border: 1px solid #036;
	font-family: helvetica, arial;
	font-size: 11px;
	width: 65px
}

.valuerange2 {
	border: 1px solid #036;
	font-family: helvetica, arial;
	font-size: 11px;
	width: 65px
}

.select {
	border: 1px solid #036;
	font-family: helvetica, arial;
	font-size: 12px;
	width: 140px
}

.select2 {
	border: 1px solid #036;
	font-family: helvetica, arial;
	font-size: 12px;
	padding-left: 5px;
	width: 80px
}

.button {
	border: 1px solid #036;
	cursor: pointer;
	cursor: pointer;
	font-family: helvetica, arial;
	font-size: 12px
}

.text {
	color: #036;
	font-family: helvetica, arial;
	font-size: 12px
}

.title1 {
	color: #036;
	font-family: helvetica, arial;
	font-size: 12px;
	font-weight: 700;
	text-align: center
}

.stitle {
	color: #036;
	font-family: helvetica, arial;
	font-size: 12px;
	font-style: italic
}

.warning {
	color: #833;
	font-family: helvetica, arial;
	font-size: 12px
}

.tab {
	border: 1px solid #036;
	font-family: helvetica, arial;
	font-size: 12px;
	padding: 5px
}

a:link ,
a:active 
{
	color: #036;
	font-size: 12pt;
	text-decoration: none
}


.tables {
	height: 400px;
	overflow: auto;
	width: 98%
}

.spanpage {
	color: blue;
	cursor: pointer;
	text-decoration: underline
}

.tdbg2 a.link {
	background: #d6d000;
	line-height: 120%
}

.even {
	background: #e6e6f2;
	line-height: 120%
}

.marked {
	background: #fc9!important;
}

.even2 {
	background: #cf9;
	line-height: 120%
}

.even marked {
	background: #fc9;
	line-height: 110%
}

.inputtext {
	background: #000;
	border: none;
	color: #833;
	width: 38px
}

.submit {
	height: 40px;
	width: 80px
}

.textarea {
	font-size: 18px
}

#macstyle .select_box {
	height: 24px;
	width: 91px
}

#macstyle div.tag_select {
	background: transparent url(images/mac-select.gif) no-repeat 0 -24px;
	color: #000;
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	width: 71px;
}

#macstyle div.tag_select_hover {
	background: transparent url(images/mac-select.gif) no-repeat 0 0;
	color: #000;
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	width: 71px;
}

#macstyle .tag_select_open {
	background: transparent url(images/mac-select.gif) no-repeat 0 -48px;
	color: #000;
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	width: 71px;
}

#macstyle ul.tag_options {
	background: transparent url(images/mac-select.gif) no-repeat left bottom;
	list-style: none;
	margin: -4px 0 0;
	margin: 0;
	padding: 0 0 5px;
	position: absolute;
	width: 100px;
	width: 71px;
}

#macstyle ul.tag_options li {
	background: transparent url(images/mac-select.gif) repeat-y -91px 0;
	color: #000;
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 10px;
	text-decoration: none;
	width: 61px;
}

#macstyle ul.tag_options .open_hover {
	background: transparent url(images/mac-select.gif) no-repeat -162px 0;
	color: #000;
}

#macstyle ul.tag_options .open_selected {
	background: transparent url(images/mac-select.gif) no-repeat -162px -24px;
	color: #fff;
}

table.resumen {
	border-color: #fff;
	border-width: 2px;
	min-width: 100%;
}

table.resumen th {
	background-color: #c7c7e2;
	padding: 2px;
}

table.resumen td {
	font-size: small;
}

table.resumen tr td:first-child {
	background-color: #8687a1;
}

table.resumen tr td:nth-child(8n + 2),
table.resumen tr td:nth-child(8n + 3),
table.resumen tr td:nth-child(8n + 4),
table.resumen tr td:nth-child(8n + 5) {
	background-color: #b1b3d5;
	text-align: center
}

table.resumen tr td:nth-child(8n + 6),
table.resumen tr td:nth-child(8n + 7),
table.resumen tr td:nth-child(8n + 8),
table.resumen tr td:nth-child(8n + 9) {
	background-color: #c8caf0;
	text-align: center;
}

table.zebra4>tbody tr:nth-child(8n + 5),
table.zebra4>tbody tr:nth-child(8n + 6),
table.zebra4>tbody tr:nth-child(8n + 7),
table.zebra4>tbody tr:nth-child(8n + 8) {
	background-color: #b1b3d5;
}

table.resumen thead {
	position: sticky;
	top: 0;
	z-index: 2;
}

table.resumen .sticky-column {
	left: 0;
	position: sticky;
	z-index: 1;
}

table.zebra4>thead tr th {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: center;
}

.seleccionado td,
.seleccionado th {
	background-color: #428eff !important;
}

.more{
	background-color: #3ca3cf;
	color:white;
	padding: 2px;
	font-size: small;
	border-radius: 2px;
}